.strukt-units {
    flex: 1 1 80%;
    padding: 20px;
}
.strukt__title {
    font-size: 20px;
    margin: 10px 0 30px 0;
    font-weight: bold;
}
.strukt-units img {
    max-width: 70%;
}
.choir {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.strukt__links {
    display: block;
    margin: 10px 0 10px 0;
    font-size: 18px;
    color: #8d0ae4;
    font-weight: bold;
}
.strukt__links:hover {
    text-decoration: underline;
}
.choir img {
    width: 40%;
}

.theater {
    display: none;
    flex-direction: column;
    align-items: center;
}

.sportClub {
    display: none;
    flex-direction: column;
    align-items: center;
}

